<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type= "text/css" href="/css/bootstrap.css">
<script type="text/javascript" src="/jquery.js"></script>
</head>

	<div class ='container'>
		<div class ="col-lg-12">

		<div class ='jumbotron'>
			<h1 class = 'page-header'> Welcome to GALBERT</h1>
			<nav class='navbar nav-tabs'>
			<ul class="nav">		
				<li><a class="nav-link" href='/search'> Find courses </a></li>
				<li><a class="nav-link" href="/myReviews"> my reviews</a></li>
				<li><a class="nav-link" href="/login"> login</a></li>
				<li><a class="nav-link" href="/register"> Register</a></li>
				<li><a class="nav-link" href="/logout"> logout</a></li>
			</ul>	
			</nav>
		</div>
			
		
		{{{body}}}
		
	</div>	
	</div>
	
</html>
	